<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD iBatis Mapper 3.0 //EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.easyware.uimp.core.dao.UserDao">

	<resultMap id="UserMapper" type="cn.easyware.uimp.core.dao.model.User">
		<result column="ID" property="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
		<result column="NAME" property="name" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result column="DESCRIPTION" property="description" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result column="ACCOUNT" property="account" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result column="PASSWORD" property="password" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result column="MOBILE" property="mobile" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result column="PHONE" property="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result column="LOCATION" property="location" jdbcType="VARCHAR" javaType="java.lang.String" />
		<result column="CREATE_ID" property="createId" jdbcType="INTEGER" javaType="java.lang.Integer" />
		<result column="CREATE_TIME" property="createTime" jdbcType="DATE" javaType="java.util.Date" />
		<result column="UPDATE_ID" property="updateId" jdbcType="INTEGER" javaType="java.lang.Integer" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" javaType="java.util.Date" />
	</resultMap>

	<insert id="addUser" parameterType="cn.easyware.uimp.core.dao.model.User">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		INSERT INTO T_CORE_USER (NAME, DESCRIPTION, ACCOUNT, PASSWORD, EMAIL, MOBILE, PHONE, LOCATION)
		VALUES (#{name}, #{description}, #{account}, #{password}, #{email}, #{mobile}, #{phone}, #{location})
	</insert>

	<select id="queryUser" resultMap="UserMapper" parameterType="cn.easyware.uimp.core.dao.model.User">
		select id,name from t_core_user
	</select>

	<!-- <select id="queryUser" resultType="UserMapper" parameterType="cn.easyware.uimp.core.dao.model.User"> select * from 
		user where id=#{id} </select> -->

</mapper>